.resource-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.resource {
  position: relative;
  height: 200px;
  width: calc(33% - 3rem);
  margin: 0 1.5rem 4rem;
  border-radius: 10px;
  background: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  transition: 300ms ease;
  line-height: 1.32;
  box-shadow: inset 0 0 80px -55px;
}

.resource:hover {
  color: #fff;
  background: var(--colorA);
  transform: scale(1.03);
  box-shadow: none;
}

.resource .category {
  font-size: 1.3rem;
  font-weight: 600;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--colorA) !important;
  padding: 5px 10px;
  border-radius: 100px;
  color: #fff;
  transition: 300ms ease;
}

.resource:hover .category {
  background: #dedede !important;
  color: #333 !important;
}