.tax-course .wrapper {
  display: flex;
  padding: 4rem;
  max-width: 1400px;
  margin: 0 auto;
}

.tax-course .wrapper > .left {
  width: 35%;
  min-width: 500px;
}

.tax-course .header h3 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--colorA);
  line-height: 1;
  margin: 0;
}

.tax-course .course-image {
  width: 100%;
  height: 40vh;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tax-course .wrapper .right {
  padding-left: 5rem;
  flex-grow: 1;
}

.tax-course .header h3 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--colorA);
  line-height: 1;
  margin: 0;
}

.tax-course .class-list {
  display: flex;
  flex-direction: column;
}

.tax-course .class-list li {
  list-style-position: inside;
  padding: 0 24px;
  background: #f7f7f7;
  border-radius: 8px;
  border: 1px solid #dedede;
  margin-bottom: 1rem;
  position: relative;
  height: 60px;
}

.tax-course .class-list ol {
  margin: 0;
}

.tax-course .class-wrap {
  display: inline;
  margin-bottom: 0.5rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 60px;
}

.tax-course .class-wrap .type {
  font-style: italic;
  font-weight: 400;
  color: var(--colorA);
  padding-left: 14px;
  margin-left: 14px;
  border-left: 1px solid #c6c6c6;
}

.tax-course .progress-marker {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 2rem;
  z-index: 2;
  top: 18px;
  border-radius: 100px;
  border: 2px solid var(--colorA);
}

.tax-course .progress-marker.complete {
  background: var(--colorA);
}

.progress-marker.started:after {
  content: "";
  width: 0px;
  height: 22px;
  display: block;
  border-right: 11px solid var(--colorA);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}